<h1><%= @list.name %></h1>

<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.association :movie %>
  <%= f.input :comment %>
  <%= f.submit 'submit', class: "btn btn-ghost" %>
  <%= link_to "cancel", lists_path, class: "btn btn-ghost" %>
<% end %>


<% @list.bookmarks.each do |bookmark| %>
  <% pict_url = "https://image.tmdb.org/t/p/w200/#{bookmark.movie.poster_url}" %>
  <% movie_id = bookmark.movie.id %>
  <% list_id = List.find(Bookmark.find(bookmark.id).list_id).id %>
  <div class="card-product">
    <%= image_tag pict_url %>
    <div class="card-product-infos">
      <h2><%= bookmark.movie.title %></h2>
      <p> <%= bookmark.movie.overview %> </p>
      <%= link_to list_bookmark_path(Bookmark.find(bookmark.id)), method: :delete, data: { confirm: "this article will be deleted, continue ?"} do %>
          delete
          <% end %>
      </div>
  </div>
<% end %>
